# Node.js and frontend artifacts
frontend/node_modules/
*.log
*.lock

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
llm_env/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore documentation drafts (optional)
FollowMe.md
